.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    overflow-y: auto;
    white-space: nowrap;
    scrollbar-width: none;
    width: 100%;
}

.container:-webkit-scrollbar {
    display: none; /* Aca oculto la barra de desplazamiento de Safari y Opera  */
}

.button-group {
    display: flex;
    gap: 8px;
}

.custom-button {
    font-size: 15px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 9999px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #d4d4d4;
    border: solid 2px #d4d4d4;
    transition: background-color 0.2s ease;
    height: 45px;
    padding: 0px 20px;
}

.custom-button-active {
    background-color: #3B82F6;
}

.sort-text {
    color: #6b7280;
}